services:
  api:
    build:
      context: .  # Path to the directory containing the Dockerfile
      dockerfile: ./ops/poetry.Dockerfile
    ports:
      - 8000:8000
    volumes:
      - .:/app
    environment:
      DATABASE_DRIVER: postgresql
      DATABASE_USERNAME: user
      DATABASE_PASSWORD: password
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_NAME: db
    networks:
      - app-network
      
  
  
  database:
    image: postgres:17
    restart: always
    volumes:
      - data:/var/lib/postgresql/data
      - ./ops/initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    networks:
      - app-network

  adminer:
    image: adminer:latest
    restart: always
    links:
      - database:db
    ports:
      - 5433:8080
    networks:
      - app-network


volumes:
  data:

networks:
  app-network:
    driver: bridge