<!-- Navigation Template -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand-container">
            <img src="../static/images/logo.png" alt="InfinExpense Logo" class="nav-logo">
            <!-- <a href="{BASE_PATH}index.html" class="nav-brand">InfinExpense</a> -->
        </div>
        <ul class="nav-menu">
            <li><a href="{BASE_PATH}index.html" class="nav-link" data-page="dashboard">Dashboard</a></li>
            <li><a href="{BASE_PATH}receipt/list.html" class="nav-link" data-page="receipts">Receipts</a></li>
            <li><a href="{BASE_PATH}product/list.html" class="nav-link" data-page="products">Products</a></li>
            <li><a href="{BASE_PATH}category/list.html" class="nav-link" data-page="categories">Categories</a></li>
            <li><a href="{BASE_PATH}merchant/list.html" class="nav-link" data-page="merchants">Merchants</a></li>
        </ul>
    </div>
</nav>
