<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{PAGE_TITLE} - InfinExpense</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="{BASE_PATH}css/main.css">
    <script src="{BASE_PATH}js/template-loader.js"></script>
</head>
<body data-active-page="{ACTIVE_PAGE}">
    <!-- Header will be loaded here -->
    <div data-template="header"></div>
