<!-- Navigation Template -->
<nav class="navbar">
    <div class="nav-container">
        <a href="{BASE_PATH}index.html" class="nav-brand">InfinExpense</a>
        <ul class="nav-menu">
            <li><a href="{BASE_PATH}index.html" class="nav-link" data-page="dashboard">Dashboard</a></li>
            <li><a href="{BASE_PATH}receipt/receipts.html" class="nav-link" data-page="receipts">Receipts</a></li>
            <li><a href="{BASE_PATH}product/products.html" class="nav-link" data-page="products">Products</a></li>
            <li><a href="{BASE_PATH}category/categories.html" class="nav-link" data-page="categories">Categories</a></li>
            <li><a href="{BASE_PATH}merchant/merchants.html" class="nav-link" data-page="merchants">Merchants</a></li>
        </ul>
    </div>
</nav>
